Bai2/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "80113a1b-6be7-4f5d-84f4-cb101fbda75f",
      "name": "Telegram Trigger",
      "webhookId": "a7a2f377-2a28-461a-82a1-cb006bcb1afd",
      "credentials": {
        "telegramApi": {
          "id": "TK4BHtdLIicS4PSs",
          "name": "movie_HDH_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Bạn là chuyên gia điện ảnh. Khi người dùng yêu cầu tìm phim:\n\nNếu họ đưa tên phim cụ thể: Dùng tên đó để tìm trong TMDB.\n\nNếu họ hỏi theo thể loại (ví dụ: hành động, hoạt hình, kinh dị): Hãy sử dụng từ khóa tiếng Anh tương ứng (như 'action', 'animation', 'horror') hoặc tìm một bộ phim nổi tiếng trong thể loại đó để gửi cho công cụ TMDB.\n\nTuyệt đối không gửi cả cụm từ 'phim hành động' vào công cụ tìm kiếm."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "121ca352-fc79-44a7-a820-fc663ea1cb2d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "868f4247-90f6-46d0-beec-7632d5d7e8ef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xnUy7hFO97RWqDmw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "eaedc1c5-82c9-4976-909b-70d63d7cdce7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Dùng để tìm các rạp chiếu phim gần đây. Chấp nhận đầu vào là tọa độ hoặc tên địa danh.",
        "url": "https://maps.google.com/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyC_RQ_gEBqbXWQczkyhsj7gdjWWkKg85PM"
            },
            {
              "name": "location",
              "value": "={{ $fromAI('location') }}"
            },
            {
              "name": "radius",
              "value": "5000"
            },
            {
              "name": "type",
              "value": "movie_theater"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        416,
        192
      ],
      "id": "0abf1b66-7d10-48bb-b361-0a57b17f5f75",
      "name": "HTTP Request (Google Maps)"
    },
    {
      "parameters": {
        "toolDescription": "Dùng để tìm danh sách phim, thông tin phim mới, phim theo chủ đề (như phim Tết, phim hành động)",
        "url": "https://api.themoviedb.org/3/search/movie",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "0bbf11ff2fc93bc61291b4a5ceac1760"
            },
            {
              "name": "query",
              "value": "={{ $fromAI('movie_name') }}"
            },
            {
              "name": "language",
              "value": "vi-VN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        544,
        192
      ],
      "id": "2f471a89-26f4-4c72-b780-5cfb674e8d14",
      "name": "HTTP Request (TMDB)"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $node[\"AI Agent\"].json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "b27121e0-f329-4f5d-9e64-20f902df6342",
      "name": "Send a text message",
      "webhookId": "179d5529-61b3-418c-91de-a9d14bf2290f",
      "credentials": {
        "telegramApi": {
          "id": "TK4BHtdLIicS4PSs",
          "name": "movie_HDH_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Google Maps)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (TMDB)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "35d77ba1-6ae1-450c-8938-18801c8a107c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "520855d0744624b71b1be79a07f5452f7e69b0ed427a95fa18b00e964a197c9f"
  },
  "id": "sR4rLAu-RgMCPj251h9-v",
  "tags": []
}